<a href="https://colab.research.google.com/github/JoanWaweru/ML-Group-12-Tasks/blob/main/Housing_Price_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

Import Google drive where we have stored the dataset

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Load the housing price dataset

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Datasets/modified_data.csv')

In [4]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

Prepare the dataset. 
First, we identify which feature is irrelevant and drop it. The most irrelevant feature is the column Id.

In [5]:
data.drop('Id', axis=1, inplace=True)

In [6]:
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

After dropping the Id column, check for the columns with missing data.

isnull().sum() returns a total count of missing values for each column and datatype.

In [7]:
data.isnull().sum()

MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
Street             0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 76, dtype: int64

Using SimpleImputer from sklearn library to fill in the missing values

In [8]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.NaN, strategy='mean')
data.LotFrontage=imputer.fit_transform(data['LotFrontage'].values.reshape(-1,1))[:,0]

In [9]:
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

The missing values have been filled in

In [10]:
data.isnull().sum()

MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 76, dtype: int64

Retrieving the column that had missing values and confirming that the values have been filled

In [11]:
data.LotFrontage

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [20]:
initialFeatures=list(data.columns)
initialFeatures
len(initialFeatures)

76

Encode the dataset to ensure that the model does not put weights to what does not need weighting.

First, list the data types entailed in each column.

In [12]:
data.dtypes

MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 76, dtype: object

Second, list all the non-numerical columns by extracting the categorical data.

In [15]:
categoricalFeatures = list(data.select_dtypes(include=['object']).copy().columns)

List the non-numerical columns.

In [18]:
categoricalFeatures

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [21]:
nominalData=['MSZoning', 'LandContour', 'LotConfig','Neighborhood','RoofStyle','RoofMatl','Exterior1st','Exterior2nd','Foundation','BsmtFinType1','CentralAir']
ordinalData = list(set(categoricalFeatures)-set(nominalData))
numericalData = list(set(initialFeatures)-set(categoricalFeatures))
target = ['SalePrice']

In [22]:
data[numericalData]

,3SsnPorch,GrLivArea,LowQualFinSF,GarageCars,GarageArea,BsmtFullBath,LotFrontage,BsmtHalfBath,MasVnrArea,EnclosedPorch,...,TotalBsmtSF,YearRemodAdd,KitchenAbvGr,1stFlrSF,2ndFlrSF,TotRmsAbvGrd,MiscVal,YrSold,WoodDeckSF,MoSold
0,0,1710,0,2,548,1,65.0,0,196.0,0,...,856,2003,1,856,854,8,0,2008,0,2
1,0,1262,0,2,460,0,80.0,1,0.0,0,...,1262,1976,1,1262,0,6,0,2007,298,5
2,0,1786,0,2,608,1,68.0,0,162.0,0,...,920,2002,1,920,866,6,0,2008,0,9
3,0,1717,0,3,642,1,60.0,0,0.0,272,...,756,1970,1,961,756,7,0,2006,0,2
4,0,2198,0,3,836,1,84.0,0,350.0,0,...,1145,2000,1,1145,1053,9,0,2008,192,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,0,1647,0,2,460,0,62.0,0,0.0,0,...,953,2000,1,953,694,7,0,2007,0,8
1456,0,2073,0,2,500,1,85.0,0,119.0,0,...,1542,1988,1,2073,0,7,0,2010,349,2
1457,0,2340,0,1,252,0,66.0,0,0.0,0,...,1152,2006,1,1188,1152,9,2500,2010,0,5
1458,0,1078,0,1,240,1,68.0,0,0.0,112,...,1078,1996,1,1078,0,5,0,2010,366,4
1459,0,1256,0,1,276,1,75.0,0,0.0,0,...,1256,1965,1,1256,0,6,0,2008,736,6

Thirdly, we encode the ordinal data.

In [23]:
for feature in ordinalData:
 
  data[feature]=(data[feature].astype('category')).cat.codes

In [24]:
df_ordinal = data[ordinalData]

For nominal data, we will use One Hot Encoding.

In [25]:
df_nominal = pd.get_dummies(data[nominalData])

For the numerical data, there is no preprocessing taking place.

In [26]:
df_numerical = data[numericalData]

Join the data to form a new dataframe.

In [27]:
joinedData = pd.concat([df_numerical, df_nominal, df_ordinal], axis=1)

In [29]:
joinedData.head()

,3SsnPorch,GrLivArea,LowQualFinSF,GarageCars,GarageArea,BsmtFullBath,LotFrontage,BsmtHalfBath,MasVnrArea,EnclosedPorch,...,BsmtExposure,Street,Heating,HeatingQC,KitchenQual,SaleCondition,HouseStyle,GarageCond,BsmtCond,Utilities
0,0,1710,0,2,548,1,65.0,0,196.0,0,...,3,1,1,0,2,4,5,4,3,0
1,0,1262,0,2,460,0,80.0,1,0.0,0,...,1,1,1,0,3,4,2,4,3,0
2,0,1786,0,2,608,1,68.0,0,162.0,0,...,2,1,1,0,2,4,5,4,3,0
3,0,1717,0,3,642,1,60.0,0,0.0,272,...,3,1,1,2,2,0,5,4,1,0
4,0,2198,0,3,836,1,84.0,0,350.0,0,...,0,1,1,0,2,4,5,4,3,0