<a href="https://colab.research.google.com/github/mandem296/ML-Group-12-Tasks/blob/main/Housing_Price_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
import numpy as np

Import Google drive where we have stored the dataset

In [33]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Load the housing price dataset

In [34]:
data = pd.read_csv('/content/drive/MyDrive/Datasets/modified_data.csv')

In [35]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

Prepare the dataset. 
First, we identify which feature is irrelevant and drop it. The most irrelevant feature is the column Id.

In [36]:
data.drop('Id', axis=1, inplace=True)

In [37]:
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

After dropping the Id column, check for the columns with missing data.

isnull().sum() returns a total count of missing values for each column and datatype.

In [38]:
data.isnull().sum()

MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
Street             0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 76, dtype: int64

Using SimpleImputer from sklearn library to fill in the missing values

In [39]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.NaN, strategy='mean')
data.LotFrontage=imputer.fit_transform(data['LotFrontage'].values.reshape(-1,1))[:,0]

In [40]:
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

The missing values have been filled in

In [41]:
data.isnull().sum()

MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 76, dtype: int64

Retrieving the column that had missing values and confirming that the values have been filled

In [42]:
data.LotFrontage

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [43]:
initialFeatures=list(data.columns)
initialFeatures
len(initialFeatures)

76

Encode the dataset to ensure that the model does not put weights to what does not need weighting.

First, list the data types entailed in each column.

In [44]:
data.dtypes

MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 76, dtype: object

Second, list all the non-numerical columns by extracting the categorical data.

In [45]:
categoricalFeatures = list(data.select_dtypes(include=['object']).copy().columns)

List the non-numerical columns.

In [46]:
categoricalFeatures

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [47]:
nominalData=['MSZoning', 'LandContour', 'LotConfig','Neighborhood','RoofStyle','RoofMatl','Exterior1st','Exterior2nd','Foundation','BsmtFinType1','CentralAir']
ordinalData = list(set(categoricalFeatures)-set(nominalData))
numericalData = list(set(initialFeatures)-set(categoricalFeatures))
target = ['SalePrice']

In [48]:
data[numericalData]

,BsmtFullBath,SalePrice,GarageArea,1stFlrSF,2ndFlrSF,HalfBath,YearBuilt,BsmtFinSF1,OpenPorchSF,MiscVal,...,LotArea,MoSold,YearRemodAdd,TotRmsAbvGrd,FullBath,EnclosedPorch,OverallQual,ScreenPorch,3SsnPorch,WoodDeckSF
0,1,208500,548,856,854,1,2003,706,61,0,...,8450,2,2003,8,2,0,7,0,0,0
1,0,181500,460,1262,0,0,1976,978,0,0,...,9600,5,1976,6,2,0,6,0,0,298
2,1,223500,608,920,866,1,2001,486,42,0,...,11250,9,2002,6,2,0,7,0,0,0
3,1,140000,642,961,756,0,1915,216,35,0,...,9550,2,1970,7,1,272,7,0,0,0
4,1,250000,836,1145,1053,1,2000,655,84,0,...,14260,12,2000,9,2,0,8,0,0,192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,0,175000,460,953,694,1,1999,0,40,0,...,7917,8,2000,7,2,0,6,0,0,0
1456,1,210000,500,2073,0,0,1978,790,0,0,...,13175,2,1988,7,2,0,6,0,0,349
1457,0,266500,252,1188,1152,0,1941,275,60,2500,...,9042,5,2006,9,2,0,7,0,0,0
1458,1,142125,240,1078,0,0,1950,49,0,0,...,9717,4,1996,5,1,112,5,0,0,366
1459,1,147500,276,1256,0,1,1965,830,68,0,...,9937,6,1965,6,1,0,5,0,0,736

Thirdly, we encode the ordinal data.

In [49]:
for feature in ordinalData:
 
  data[feature]=(data[feature].astype('category')).cat.codes

In [50]:
df_ordinal = data[ordinalData]

For nominal data, we will use One Hot Encoding.

In [51]:
df_nominal = pd.get_dummies(data[nominalData])

For the numerical data, there is no preprocessing taking place.

In [52]:
df_numerical = data[numericalData]

Join the data to form a new dataframe.

In [53]:
joinedData = pd.concat([df_numerical, df_nominal, df_ordinal], axis=1)

In [54]:
joinedData.head()

,BsmtFullBath,SalePrice,GarageArea,1stFlrSF,2ndFlrSF,HalfBath,YearBuilt,BsmtFinSF1,OpenPorchSF,MiscVal,...,LandSlope,BsmtFinType2,GarageFinish,FireplaceQu,SaleType,BsmtCond,GarageCond,MasVnrType,GarageType,Condition1
0,1,208500,548,856,854,1,2003,706,61,0,...,0,5,1,-1,8,3,4,1,1,2
1,0,181500,460,1262,0,0,1976,978,0,0,...,0,5,1,4,8,3,4,2,1,1
2,1,223500,608,920,866,1,2001,486,42,0,...,0,5,1,4,8,3,4,1,1,2
3,1,140000,642,961,756,0,1915,216,35,0,...,0,5,2,2,8,1,4,2,5,2
4,1,250000,836,1145,1053,1,2000,655,84,0,...,0,5,1,4,8,3,4,1,1,2

Standardize the Encoded Dataset.

In [55]:
from sklearn.preprocessing import StandardScaler

In [56]:
scaler = StandardScaler()
df_X = joinedData.drop('SalePrice', axis=1)
X = np.array(df_X)
df_X

,BsmtFullBath,GarageArea,1stFlrSF,2ndFlrSF,HalfBath,YearBuilt,BsmtFinSF1,OpenPorchSF,MiscVal,LotFrontage,...,LandSlope,BsmtFinType2,GarageFinish,FireplaceQu,SaleType,BsmtCond,GarageCond,MasVnrType,GarageType,Condition1
0,1,548,856,854,1,2003,706,61,0,65.0,...,0,5,1,-1,8,3,4,1,1,2
1,0,460,1262,0,0,1976,978,0,0,80.0,...,0,5,1,4,8,3,4,2,1,1
2,1,608,920,866,1,2001,486,42,0,68.0,...,0,5,1,4,8,3,4,1,1,2
3,1,642,961,756,0,1915,216,35,0,60.0,...,0,5,2,2,8,1,4,2,5,2
4,1,836,1145,1053,1,2000,655,84,0,84.0,...,0,5,1,4,8,3,4,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,0,460,953,694,1,1999,0,40,0,62.0,...,0,5,1,4,8,3,4,2,1,2
1456,1,500,2073,0,0,1978,790,0,0,85.0,...,0,4,2,4,8,3,4,3,1,2
1457,0,252,1188,1152,0,1941,275,60,2500,66.0,...,0,5,1,2,8,1,4,2,1,2
1458,1,240,1078,0,0,1950,49,0,0,68.0,...,0,4,2,-1,8,3,4,2,1,2
1459,1,276,1256,0,1,1965,830,68,0,75.0,...,0,3,0,-1,8,3,4,2,1,2

In [57]:
df_y = data[target]
y = np.array(df_y)
df_y

      SalePrice
0        208500
1        181500
2        223500
3        140000
4        250000
...         ...
1455     175000
1456     210000
1457     266500
1458     142125
1459     147500

[1460 rows x 1 columns]

In [58]:
X.shape

(1460, 162)

In [59]:
y.shape

(1460, 1)

In [60]:
X=scaler.fit_transform(X)
y=scaler.fit_transform(y)

In [61]:
X

array([[ 1.10781015,  0.35100032, -0.79343379, ..., -1.15326332,
        -0.58050962, -0.03628912],
       [-0.81996437, -0.06073101,  0.25714043, ...,  0.3928932 ,
        -0.58050962, -1.18807408],
       [ 1.10781015,  0.63172623, -0.62782603, ..., -1.15326332,
        -0.58050962, -0.03628912],
       ...,
       [-0.81996437, -1.03391416,  0.06565646, ...,  0.3928932 ,
        -0.58050962, -0.03628912],
       [ 1.10781015, -1.09005935, -0.21898188, ...,  0.3928932 ,
        -0.58050962, -0.03628912],
       [ 1.10781015, -0.9216238 ,  0.2416147 , ...,  0.3928932 ,
        -0.58050962, -0.03628912]])

In [62]:
y

array([[ 0.34727322],
       [ 0.00728832],
       [ 0.53615372],
       ...,
       [ 1.07761115],
       [-0.48852299],
       [-0.42084081]])

Putting Standardized data in a Dataframe

In [64]:
standardized_df = pd.DataFrame(X, columns=df_X.columns)

print(standardized_df)

      BsmtFullBath  GarageArea  1stFlrSF  2ndFlrSF  HalfBath  YearBuilt  \
0         1.107810    0.351000 -0.793434  1.161852  1.227585   1.050994
1        -0.819964   -0.060731  0.257140 -0.795163 -0.761621   0.156734
2         1.107810    0.631726 -0.627826  1.189351  1.227585   0.984752
3         1.107810    0.790804 -0.521734  0.937276 -0.761621  -1.863632
4         1.107810    1.698485 -0.045611  1.617877  1.227585   0.951632
...            ...         ...       ...       ...       ...        ...
1455     -0.819964   -0.060731 -0.542435  0.795198  1.227585   0.918511
1456      1.107810    0.126420  2.355701 -0.795163 -0.761621   0.222975
1457     -0.819964   -1.033914  0.065656  1.844744 -0.761621  -1.002492
1458      1.107810   -1.090059 -0.218982 -0.795163 -0.761621  -0.704406
1459      1.107810   -0.921624  0.241615 -0.795163  1.227585  -0.207594

      BsmtFinSF1  OpenPorchSF   MiscVal  LotFrontage  ...  LandSlope  \
0       0.575425     0.216503 -0.087688    -0.229372  ...  -0.225716
1       1.171992    -0.704483 -0.087688     0.451936  ...  -0.225716
2       0.092907    -0.070361 -0.087688    -0.093110  ...  -0.225716
3      -0.499274    -0.176048 -0.087688    -0.456474  ...  -0.225716
4       0.463568     0.563760 -0.087688     0.633618  ...  -0.225716
...          ...          ...       ...          ...  ...        ...
1455   -0.973018    -0.100558 -0.087688    -0.365633  ...  -0.225716
1456    0.759659    -0.704483 -0.087688     0.679039  ...  -0.225716
1457   -0.369871     0.201405  4.953112    -0.183951  ...  -0.225716
1458   -0.865548    -0.704483 -0.087688    -0.093110  ...  -0.225716
1459    0.847389     0.322190 -0.087688     0.224833  ...  -0.225716

      BsmtFinType2  GarageFinish  FireplaceQu  SaleType  BsmtCond  GarageCond  \
0         0.339853     -0.066689    -0.966583  0.313867  0.321530    0.302084
1         0.339853     -0.066689     1.487697  0.313867  0.321530    0.302084
2         0.339853     -0.066689     1.487697  0.313867  0.321530    0.302084
3         0.339853      1.003266     0.505985  0.313867 -1.940802    0.302084
4         0.339853     -0.066689     1.487697  0.313867  0.321530    0.302084
...            ...           ...          ...       ...       ...         ...
1455      0.339853     -0.066689     1.487697  0.313867  0.321530    0.302084
1456     -0.431819      1.003266     1.487697  0.313867  0.321530    0.302084
1457      0.339853     -0.066689     0.505985  0.313867 -1.940802    0.302084
1458     -0.431819      1.003266    -0.966583  0.313867  0.321530    0.302084
1459     -1.203491     -1.136644    -0.966583  0.313867  0.321530    0.302084

      MasVnrType  GarageType  Condition1
0      -1.153263   -0.580510   -0.036289
1       0.392893   -0.580510   -1.188074
2      -1.153263   -0.580510   -0.036289
3       0.392893    1.535705   -0.036289
4      -1.153263   -0.580510   -0.036289
...          ...         ...         ...
1455    0.392893   -0.580510   -0.036289
1456    1.939050   -0.580510   -0.036289
1457    0.392893   -0.580510   -0.036289
1458    0.392893   -0.580510   -0.036289
1459    0.392893   -0.580510   -0.036289

[1460 rows x 162 columns]